{{ form_start(form) }}
    {{ form_widget(form) }}
    <labe>admin</labe>
    <input type="checkbox" name="is_admin"  value="true" ><br>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
