.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 0.3fr 2.8fr 0.3fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: column dense;
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "body body body body"
    "footer footer footer footer";
}

.header { grid-area: header; }

.nav { grid-area: nav; }

.body {
    justify-self: stretch;
    align-self: stretch;
    grid-area: body;
}

.footer {
    justify-self: center;
    align-self: end;
    grid-area: footer;
}
